@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%; /* Zinc 50 */
    --foreground: 240 5.9% 10%; /* Zinc 950 */
    --card: 0 0% 100%; /* White */
    --card-foreground: 240 5.9% 10%; /* Zinc 950 */
    --popover: 0 0% 100%; /* White */
    --popover-foreground: 240 5.9% 10%; /* Zinc 950 */
    --primary: 239 84% 67%; /* Indigo 500 */
    --primary-foreground: 0 0% 100%; /* White */
    --secondary: 240 4.8% 95.9%; /* Zinc 100 */
    --secondary-foreground: 240 5.9% 10%; /* Zinc 950 */
    --muted: 240 4.8% 95.9%; /* Zinc 100 */
    --muted-foreground: 240 3.8% 46.1%; /* Zinc 500 */
    --accent: 226 100% 97%; /* Indigo 50 / Accent Subtle */
    --accent-foreground: 239 84% 67%; /* Indigo 500 */
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 5.9% 90%; /* Zinc 200 */
    --input: 240 5.9% 90%; /* Zinc 200 */
    --ring: 239 84% 67%; /* Indigo 500 */
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 9%;
    --popover-foreground: 0 0% 98%;
    --primary: 239 84% 67%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 239 84% 67%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 20%;
    --input: 240 3.7% 20%;
    --ring: 239 84% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlh" 1, "cv02", "cv03", "cv04", "cv11";
  }
}
